/*
To run with docker or singularity, use command line:
nextflow run main_stampy.nf -with-docker compasscompact
*/

manifest {
    description = 'Oxford MMM CompassCompact Pipelines'
    author = 'Oxford MMM team'
}
profiles {

    standard {
        process{
            errorStrategy = 'retry' //If the process return error, try it up to maxErrors
            maxErrors = 1
        }

        env {
            COMPASSCFG = "/home/compass/PIPELINE/compass/lib/compass.cfg"
            SYS_ROOT = "/home/compass/PIPELINE"
            COMPASS_ROOT= "$SYS_ROOT/compass"
            SAMTOOL1x = "$SYS_ROOT/gorm-tools/samtools-1.4.1"
            JAVA7="/opt/java17/bin"
            PICARD = "$SYS_ROOT/gorm-tools/picard-tools-1.123"
            BWA = "$SYS_ROOT/gorm-tools/bwa-0.7.15"
        }
    }
    test_docker {
        process{
            container = 'compasscompact:latest'
            errorStrategy = 'retry' //If the process return error, try it up to maxErrors
            maxErrors = 1
        }
        docker {
            enabled = true
            runOptions = '-v /home/docker/Code/CompassCompact/docker/compass:/home/compass/PIPELINE/compass'
        }

        env {
            COMPASSCFG = "/home/compass/PIPELINE/compass/lib/compass.cfg"
            SYS_ROOT = "/home/compass/PIPELINE"
            COMPASS_ROOT= "$SYS_ROOT/compass"
            SAMTOOL1x = "$SYS_ROOT/gorm-tools/samtools-1.4.1"
            JAVA7="/opt/java17/bin"
            PICARD = "$SYS_ROOT/gorm-tools/picard-tools-1.123"
            BWA = "$SYS_ROOT/gorm-tools/bwa-0.7.15"
        }
    }
}